body {
    background:#E5E5E5;
}
.container{
    background:white;
    width:80%;
    margin-top:5%;
    margin-bottom:5%;
}
#datepicker{
    padding:20px;
}

/*  Header */
.header{
    text-align:center;
    font-size:32px;
    color:royalblue;
    border-bottom:1px solid dodgerblue;
    padding:15px 0px 15px 0px;
}
#task{
    margin:30px;
}
.action_panel {
    margin:30px 0px 30px 30px;
}

/* Main */
td {
    cursor:pointer;
}
