body {
    background:#E5E5E5;
}
.container{
    background:white;
    width:80%;
    margin-top:5%;
    margin-bottom:5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-height:75%;
}
#datepicker{
    padding:20px;
}

/*  Header */
.header{
    text-align:center;
    font-size:32px;
    color:royalblue;
    border-bottom:1px solid dodgerblue;
    padding:15px 0px 15px 0px;
}
.action_panel {
    margin:30px 0px 30px 30px;
}
.action_panel div {
    float:right;
}
/* Main */
#task{
    margin:30px;
}
#task tr a {
    color: #333333;
}
td {
    cursor:pointer;
}
.table th, .table td {
    text-align:center;
}
